{% extends "base.html" %}

{% block header %}
<div id="logo">
	<a href="{% url 'homepage' %}">wuss.eu</a>
</div>
<div class="content">
	<h1>Hey. We love links!</h1>
	<p>A url shortener with a difference.<br />Update your links to point anywhere, anytime!</p>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<form action="{% url 'homepage' %}" method="post">{% csrf_token %}
			<div class="form-group{% if form.link.errors %} has-error{% endif %}">
				{% if form.link.errors %}
					{% for error in form.link.errors %}
						<label class="control-label" for="{{ form.link.id_for_label }}">{{ error|escape }}</label>
					{% endfor %}
				{% endif %}
				<div class="input-group">
					<input id="{{ form.link.id_for_label }}" type="text" name="{{ form.link.html_name }}" {% if form.link.value %}value="{{ form.link.value }}" {% endif %}class="form-control input-lg" placeholder="{% if success %}Paste another link to shorten it&hellip;{% else %}Paste a link to shorten it&hellip;{% endif %}">
					<span class="input-group-btn">
						<input type="submit" class="btn btn-default input-lg" value="Shorten">
					</span>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
